<!-- Content Header (Page header) -->
<!-- <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Contact us</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Contact us</li>
                </ol>
            </div>
        </div>
    </div>
</section> -->

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- <div class="container-fluid"> -->
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Contact Us</h3>

                <!-- <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-widget="collapse"
              data-toggle="tooltip"
              title="Collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-widget="remove"
              data-toggle="tooltip"
              title="Remove"
            >
              <i class="fa fa-times"></i>
            </button>
          </div> -->
            </div>
            <div class="card-body">
                Contact us section!
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span>
                                <i class="fas fa-globe"></i>
                                <p style="color: blue;">www.EHelathCare.com</p>
                            </span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span>
                                <i class="fas fa-envelope"></i>
                                <p>contactEHC@EHealthCare.com</p>
                            </span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <span>
                                <i class="fas fa-phone-alt"></i>
                                <p>(123)-(456)-(9890)</p>
                            </span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block ">
                            <span>
                                <i class="fas fa-fax"></i>
                                <p>+123 456 7890</p>
                            </span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
    <!-- </div> -->
    <!-- /.card -->
</section>
<!-- /.content -->