<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    User Profile Settings
                </h3>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <dl class="row">
                        <dt class="col-4 col-md-4 text-right">Password:</dt>
                        <dd class="col-8 col-md-4">
                            [
                            <a [routerLink]="['/usersettings/changepassword']">Change Password</a>
                            ]
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-4 col-md-4 text-right">Account Settings:</dt>
                        <dd class="col-8 col-md-4">
                            [ <a [routerLink]="['/usersettings/accountsettings']">Account Settings</a> ]
                        </dd>
                    </dl>
                </div>
                <!-- <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body card-no-border">
                            <dl class="dl-horizontal">
                                <dt>Password:</dt>
                                <dd>
                                    [
                                    <a [routerLink]="['/usersettings/changepassword']">Change Password</a>
                                    ]
                                </dd>
                                <dt>Account Settings:</dt>
                                <dd>
                                    [ <a [routerLink]="['/usersettings/accountsettings']">Account Settings</a> ]
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.col -->
</div>