<div class="modal-content">

    <!-- <div class="rounded bg-gradient-4 text-white shadow p-5 text-center mb-5">
        <p class="mb-0 font-weight-bold text-uppercase">
            <i class="fas fa-exclamation-triangle fa-2x text-danger"></i>
            Your session is about to expire! <br>
        </p>
        <p class="mb-0">
            in
        </p>
        <div id="clock-c" class="countdown py-4">
            <span class="h1 font-weight-bold">{{countMinutes}}</span> Min
            <span class="h1 font-weight-bold">{{countSeconds}}</span> Sec
        </div>
        <p>
            <ngb-progressbar type="danger" [value]="progressCount" [max]="progressMaxVal" textType="white"
                [striped]="true" [animated]="true" animate="false" class="progress-striped active">
                {{ progressCount / progressMaxVal | percent }}
            </ngb-progressbar>
        </p>

        <ul class="list-inline">
            <li class="list-inline-item pt-2">
                <button id="btn-reset" type="button" class="btn btn-outline-success btn-sm btn-demo"
                    (click)="continue()">
                    <i class="fas fa-sync-alt fa-lg"></i>
                    Continue
                </button>
            </li>
            <li class="list-inline-item pt-2">
                <button id="btn-pause" type="button" class="btn btn-outline-danger btn-sm btn-demo" (click)="logout()">
                    <i class="fas fa-power-off fa-lg"></i>
                    Signout
                </button>
            </li>
        </ul>

    </div> -->


    <div class="rounded bg-gradient-1 text-white shadow p-5 text-center mb-5">
        <p class="mb-4 font-weight-bold text-uppercase">
            <i class="fas fa-exclamation-triangle fa-2x text-danger"></i>
            Your session is about to expire! <br>
        </p>
        <p class="mb-0">
            in
        </p>
        <div id="clock-b" class="countdown-circles d-flex flex-wrap justify-content-center pt-4">
            <div class="holder m-2"><span class="h1 font-weight-bold">0{{countMinutes}}</span> 
                Min
            </div>
            <div class="holder m-2"><span class="h1 font-weight-bold">{{countSeconds >= 10 ? countSeconds : ('0' + countSeconds)}}</span> 
                Sec
            </div>
        </div>
        <p>
            <ngb-progressbar type="danger" [value]="progressCount" [max]="progressMaxVal" textType="white"
                [striped]="true" [animated]="true" animate="false" class="progress-striped active">
                {{ progressCount / progressMaxVal | percent }}
            </ngb-progressbar>
        </p>
        <ul class="list-inline">
            <li class="list-inline-item pt-2">
                <button id="btn-reset" type="button" class="btn btn-outline-success btn-sm btn-demo"
                    (click)="continue()">
                    <i class="fas fa-sync-alt fa-lg"></i>
                    Continue
                </button>
            </li>
            <li class="list-inline-item pt-2">
                <button id="btn-pause" type="button" class="btn btn-outline-danger btn-sm btn-demo" (click)="logout()">
                    <i class="fas fa-power-off fa-lg"></i>
                    Signout
                </button>
            </li>
        </ul>
    </div>

</div>