<div class="register-box">
  <div class="login-logo">
    <img src="assets/images/HC_Logo.JPG" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8;width:50px;height:50px;">
    <a href="../../index2.html"><b>EH</b>ealth<b>C</b>are</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <!-- <p class="login-box-msg">Register a new user</p> -->
      <div class="row">
        <div class="col-md-9">
          <p class="login-box-msg">{{'Auth.Title.RegisterTitle' | translate}}</p>
        </div>
        <div class="col-md-3">
          <app-language-selector></app-language-selector>
        </div>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="input-group mb-3">
          <input formControlName="fullName" type="text" class="form-control" placeholder="Full name" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="email" type="email" class="form-control" placeholder="{{'Auth.InputFields.Email' | translate}}" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="password" type="password" class="form-control" placeholder="{{'Auth.InputFields.Password' | translate}}" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="retypePassword" type="password" class="form-control" placeholder="{{'Auth.InputFields.ConfirmPassword' | translate}}" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
              <label for="agreeTerms">
                {{'Auth.InputFields.AgreeLbl' | translate}} <a href="#">{{'Auth.InputFields.TermsLbl' | translate}}</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">
              {{'Auth.Buttons.RegisterBtn' | translate}}
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          {{'Auth.Buttons.FBSignInBtn' | translate}}
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          {{'Auth.Buttons.GoogleSignInBtn' | translate}}
        </a>
      </div>

      <a [routerLink]="['/login']" class="text-center">{{'Auth.InputFields.AlreadyHaveAccountLbl' | translate}}</a>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.card -->
</div>