<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    Change Password
                </h3>
                <button class="btn btn-secondary backBtn pull-right btn-xs" type="button" [routerLink]="['/usersettings/profile']">
                    <i class="fas fa-arrow-left"></i>&nbsp;Go Back</button>
            </div>
            <div class="card-body">
                <section class="content container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary text-right">
                                <div class="box-body card-no-border f15">
                                    <form  class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-4 mt-2 control-label">Current
                                                Password<span style="color:red">&nbsp;*</span></label>
                                            <div class="col-md-4">
                                                <input type="password" placeholder="Current Password"
                                                        name="oldPassword" maxlength="32"
                                                        class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 mt-2 control-label">New
                                                Password<span style="color:red">&nbsp;*</span></label>
                                            <div class="col-md-4">
                                                <input type="password" placeholder="New Password"
                                                        name="newPassword" maxlength="32"
                                                        class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 mt-2 control-label" >Confirm
                                                Password<span style="color:red">&nbsp;*</span></label>
                                            <div class="col-md-4">
                                                <input type="password" placeholder="Confirm New Password"
                                                        name="confirmPassword" maxlength="32"
                                                        class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group mt-10">
                                            <div class="col-md-12 text-right">
                                                <button style="margin-right:10px" class="btn btn-outline-secondary" title="Reset">
                                                    <i class="fas fa-undo"></i>
                                                    Reset
                                                </button>
                                                <button type="submit" id="btnChangePwd" class="btn btn-primary">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                    Change Password
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.col -->
</div>