<!-- <h3>{{'UserManagement.ManageRolesTitle' | translate}}</h3>
<p>manageroles works!</p>
<app-addroles></app-addroles>
<app-modifyroles></app-modifyroles> -->


<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title">{{'UserManagement.ManageRolesTitle' | translate}}</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <app-addroles></app-addroles>
                <app-modifyroles></app-modifyroles>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>