<!-- <h3>{{'UserManagement.ManageUsersTitle' | translate}}</h3> -->


<div class="row">
    <div class="col-md-12">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="card-title">{{'UserManagement.ManageUsersTitle' | translate}}</h5>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" (click)="exportAsXLSX();">
              <i class="fas fa-file-excel fa-2x" style="color: #3c8dbc;"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        
        <div class="card-body">
            <app-addusers></app-addusers>
            <app-modifyusers></app-modifyusers>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

