<button type="button" class="btn btn-primary btn-xs daterange ml-2" title="Date range">
    <i class="far fa-calendar-alt fa-lg"></i>&nbsp;
    <span style="font-size: 14px;"></span>&nbsp;
    <i class="fa fa-caret-down"></i>
</button>


<!-- <div class="btn-group dropright customDateRange">
    <button type="button" class="btn btn-primary btn-xs dropdown-toggle ml-2" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="far fa-calendar-alt"></i>&nbsp;
        <span></span>&nbsp;
    </button>
    <div class="dropdown-menu">
        <li> <a class="dropdown-item ddRange" (click)="setDateRange('today');">Today</a></li>
        <li> <a class="dropdown-item ddRange" (click)="setDateRange('7d');">Last 7 Days</a></li>
        <li> <a class="dropdown-item ddRange" (click)="setDateRange('14d');">Last 14 Days</a></li>
        <li> <a class="dropdown-item ddRange active" (click)="setDateRange('30d');">Last 30 Days</a></li>
        <li> <a class="dropdown-item ddRange" (click)="setDateRange('TM');">This Month</a></li>
        <li> <a class="dropdown-item ddRange" (click)="setDateRange('LM');">Last Month</a></li>
        <div class="dropdown-divider"></div>
        <li class=" dropdown-submenu"> 
            <a class="dropdown-item ddRange" (click)="setCustomRange();">Custom Range</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" tabindex="-1" href="#">From Date</a></li>
                <li><a class="dropdown-item" tabindex="-1" href="#">To Date</a></li>
                <li>
                    
                    <div class="col-md-12">
                        <input name='name' value="" type="text" class="form-control" placeholder="From Date"/>
                        
                            <button class="btn btn-primary">
                                <i class="fa fa-calendar"></i>
                            </button>
                        
                    </div>
                    
                </li>
            </ul>
        </li>
    </div>
</div> -->

<!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">HTML</a></li>
      <li><a tabindex="-1" href="#">CSS</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li class="dropdown-submenu">
            <a class="test" href="#">Another dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3rd level dropdown</a></li>
              <li><a href="#">3rd level dropdown</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div> -->

<!-- <div class="btn-group date-filter"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Date Range
    <span class="caret"></span>
  </a>

    <ul class="dropdown-menu">
        <li><a href="#">Last 3 Months</a>
        </li>
        <li><a href="#">Last 6 Months</a>
        </li>
        <li><a href="#">Last 12 months</a>
        </li>
        <li><a class="show-custom-range">Custom Range</a>
        </li>
        <li class="custom-range-box">
            <div class="custom-range">
                <div class="start-date">
                    <label>From</label>
                    <div class="input-append date datepicker" data-date="02-2012" data-date-format="mm-yyyy">
                        <input type="text" class="input-small"> <span class="add-on"><i class="icon-calendar"></i></span>

                    </div>
                </div>
                <div class="end-date">
                    <label>To</label>
                    <div class="input-append date datepicker" data-date="02-2012" data-date-format="mm-yyyy">
                        <input type="text" class="input-small"> <span class="add-on"><i class="icon-calendar"></i></span>

                    </div>
                </div>
                <button class="btn">Go</button>
            </div>
        </li>
    </ul>
</div> -->